<div class="header row">
    <div class="col-md-3">
        <a class="" role="button" data-toggle="collapse" href="#searchinput" aria-expanded="false" aria-controls="collapseExample">
            <!-- <span class="glyphicon glyphicon-search" aria-hidden="true"></span> -->
        </a>
    </div>
    <div class="col-md-6 col-xs-12">
        <h1>ALLERGAN PARTNER PRIVILEGES</h1>
    </div>
    <div class="col-md-3 alignright">
        <a href="#/home">
           <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </a>

        <a href="#/login">
            <input class="btn btn-primary button" type="button" value='Login' ng-click="login()">
        </a>
    </div>
</div>


<div class=" section row">
    <div class="container">
        <div class="col-md-12">
            <div class="banner">
                <div>
                    <img src="images/logo.jpg">
                </div>
                <p>
                    Because we are in this together
                </p>
                <h1>TAKE YOUR PRACTICE </h1>
                <h1>TO THE NEXT LEVEL</h1>
                <div class="box">
                    <h4>See the value of choosing Allergan</h4>
                </div>
            </div>
        </div>
    </div>
</div>