<div class="header row">
    <div class="col-md-3">
        <a class="" role="button" data-toggle="collapse" href="#searchinput" aria-expanded="false" aria-controls="collapseExample">
        </a>
    </div>
    <div class="col-md-6 col-xs-12">
        <h1>ALLERGAN PARTNER PRIVILEGES</h1>
    </div>
    <div class="col-md-3 alignright">
        <a href="#/profiledata">
           <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </a>
        <a href="#/profile">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </a>
        <a href="#/logout">
            <input class="btn btn-primary button" type="button" value='Logout' ng-click="logout()">
        </a>
    </div>
</div>

<div id="outerleveldesc">       <!-- Graphs and charts of the accounts --> 
    <div class="level">
        <div class="pyra">
            <h3 id="level" class="monthly">Level-Tier</h3>
            <div id="container" >              
            </div>
        </div>
        <div class="ratings">
            <div class="dermi">
                <h2 class="dermi" >Dermitology partners.inc</h2>
                <h3 class="dermit" >Current Level:</h3>
            </div>
            <div class="both">
                <div class="lefty">
                    <ul>
                        <li><strong>Botox</strong></li>
                        <li><strong>Juvederm</strong></li>
                        <li><strong>Latisee</strong></li>
                        <li><strong>Vivete</strong></li>
                        <li><strong>Natrelle</strong></li>
                    </ul>
                </div>
                <div class="righty">
                    <div>
                        <ul>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon-blank"></li>
                            <li class="hexagon-blank"></li>
                            <li class="hexagon-blank"></li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon-blank"></li>
                            <li class="hexagon-blank"></li>
                            <li class="hexagon-blank"></li>
                            <li class="hexagon-blank"></li>
                            <li class="hexagon-blank"></li>

                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon-blank"></li>
                            <li class="hexagon-blank"></li>
                            <li class="hexagon-blank"></li>
                            <li class="hexagon-blank"></li>
                            <li class="hexagon-blank"></li>
                            <li class="hexagon-blank"></li>
                            <li class="hexagon-blank"></li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon-blank"></li>
                            <li class="hexagon-blank"></li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon"></li>
                            <li class="hexagon-blank"></li>
                            <li class="hexagon-blank"></li>
                            <li class="hexagon-blank"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="graphDiv1" class="graphy"> 

        <h3 class="monthly" >Monthly grossers range:</h3><br>          
        </div><br>
        <h3 class="monthly">Points indicating on yearly basis:</h3>
        <div id="description" >           
        </div>

    </div>
    <div class="btn-ctl">                   <!-- description of the company's products -->
    
        <button id="b1">BOTOX</button>
        <button id="b2">JUVERDAM</button>
        <button id="b3">LATISEE</button>
        <button id="b4">NATRELLE</button>
        <button id="b5">VIVITE</button>
        <div class="meddetails">
            <p class="botox side_color">
                BOTOX® Cosmetic is a prescription medicine that is injected into muscles and used to temporarily improve the look of both moderate to severe crow’s feet lines and frown lines between the eyebrows in adults.There has not been a confirmed serious case of spread of toxin effect when BOTOX® Cosmetic has been used at the recommended dose to treat frown lines, crow’s feet lines, or both at the same time.BOTOX® Cosmetic may cause loss of strength or general muscle weakness, vision problems, or dizziness within hours to weeks of taking BOTOX® Cosmetic. If this happens, do not drive a car, operate machinery, or do other dangerous activities.Tell your doctor if you have received any other botulinum toxin product in the last 4 months; have received injections of botulinum toxin such as Myobloc®, Dysport®, or Xeomin®
            </p>
            <p class="juverdam side_color" style="display: none">
                Juvederm is a family of injectable hyaluronic acid dermal fillers used to provide 9 months to one year of correction for moderate to severe facial wrinkles and folds, such as nasolabial folds (lines from the nose to the corners of the mouth). It is not indicated for use in lipaugmentation.Juvederm products are a smooth consistency gel, compared to some hyaluronic gel products that have a granular consistency. Juvederm products are developed using the Hylacross technology to allow a smoother, malleable gel. Hyaluronic acid is a naturally occurring sugar found in the body. Hyaluronic acid works by holding in water at the injection site and acting as a cushioning agent. It adds temporary volume and a smoother appearance to skin.
            </p>
            <p class="latisee side_color" style="display: none">
                LATISSE® is an FDA-approved treatment to grow eyelashes for people with inadequate or not enough lashes.If you use/used prescription products for eye pressure problems, use LATISSE® under doctor care. May cause brown darkening of the colored part of the eye which is likely permanent. LATISSE® may cause eyelid skin darkening which may be reversible. Only apply at base of upper lashes. DO NOT APPLY to lower lid. Hair may grow outside the treatment area. If you have eye problems/surgery, consult your doctor. Common side effects include itchy and red eyes. If discontinued, lashes gradually return to previous appearance.Serious and/or immediate allergic reactions have been reported. They include: itching, rash, red itchy welts, wheezing, asthma symptoms, or dizziness or feeling faint.
            </p>
            <p class="natrelle side_color" style="display: none;">
                Natrelle® Breast Implants are indicated for women for the following:Breast augmentation for women at least 22 years old for silicone-filled implants.Breast augmentation for women at least 18 years old for saline-filled implants.Breast augmentation includes primary breast augmentation to increase breast size, as well as revision surgery to correct or improve the result of a primary breast augmentation surgery.Breast reconstruction. Breast reconstruction includes primary reconstruction to replace breast tissue that has been removed due to cancer or trauma or that has failed to develop properly due to a severe breast abnormality. Breast reconstruction also includes revision surgery to correct or improve the result of a primary breast reconstruction surgery.Active infections may need to be treated and resolved before surgery.
            </p>
            <p class="vivite side_color" style="display: none;">
                GLX Technology is the basis behind VIVITE skin care. It is a glycolic acid compound and natural antioxidant blend, unique to VIVITE, which gently exfoliates dead skin cells while protecting the skin from free-radical damage. It also promotes the production of collagen, hyaluronic acid and epidermal growth factor in the skin, giving it a firm, plump and vibrant appearance. This technology, combined with peptides and numerous natural ingredients like green tea, chamomile and licorice root, repair damage done to the skin and protect it for the future.Fine lines, wrinkles and hyperpigmentation are the most frustrating signs of aging and sun damage. VIVITE products safely and gently lighten skin discolorations while smoothing and lifting sagging skin. Even sensitive and dry skin types can exfoliate and renew their complexions.

            </p>
        </div>
    </div>
    <script type="text/javascript" src="js/levelCtrl.js"></script>

</div>